.nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 0px 22px;
    height: 60px;
}

.menuContainer {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.menu {
    list-style-type: none;
    margin: 0;
    padding: 0; 

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 3px;
}
    
.accessibility {
    display: flex;
    flex-direction: row;
    list-style-type: none;
    margin: 0;
    padding: 0; 
}

.menuItem {
    position: relative;
    /* padding: 10px 14px; */
    background-color: var(--color-white);

    font-weight: 600;
    font-size: 16px;
    text-transform: uppercase;
    white-space: nowrap;

    cursor: pointer;
    user-select: none;
}

.menuItem > a {
    padding: 10px 14px;
    display: inline-block;
    text-decoration: none;
    color: var(--dark-blue);
}

.menuItem > span {
    padding: 10px 14px;
}

.menuItem:hover > span {
    color: var(--color-lightblue);
}

.menuItem:hover > a {
    color: var(--color-lightblue);
}

.selected {
    color: var(--color-lightblue);
}

.submenu {
    top: 34px;
    left: 0;

    position: absolute;
    list-style-type: none;
    margin: 0;
    padding: 0; 
    display: none;
}

.visible {
    display: flex;
    flex-direction: column;
}