.nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 0px 22px;
    gap: 28px;
    height: 55px;
}

.container {
    display: flex;
    flex-direction: row;
    gap: 5px;
}

.menu {
    list-style-type: none;
    margin: 0;
    padding: 0; 

    display: flex;
    flex-direction: row;
    gap: 5px;
}
    
.accessibility {
    display: flex;
    flex-direction: row;
    list-style-type: none;
    margin: 0;
    padding: 0; 
}